# Python
__pycache__/
*.pyc
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# Data (обычно не коммитим большие датасеты)
data/raw/
data/interim/
data/processed/
*.csv
*.parquet
*.pkl

# Outputs
figures/
