fastapi==0.115.5
uvicorn[standard]==0.32.1
python-multipart==0.0.17
pydantic==2.10.3
catboost==1.2.7
scikit-learn==1.5.2
joblib==1.4.2
numpy==1.26.4
pandas==2.2.3
Pillow==11.0.0
transformers==4.46.3
torch==2.5.1
